<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>cwString.join</Title>
			<Shortcut>sj</Shortcut>
			<Description>Code snippet for String.join</Description>
			<Author>mitaka206</Author>
		</Header>
		<Snippet>
			<Code Language="csharp"><![CDATA[Console.WriteLine(string.Join(" ", output));]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>